<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/homepage.css"/>
    <title>Ogani</title>
    <script src="https://kit.fontawesome.com/28a1dc3e10.js" crossorigin="anonymous"></script>
    <script src="css/homepage.css"></script>
        <link rel="stylesheet" href="css/style_V4.css" type="text/css">

</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-in-container">

        <form th:action="@{/authenticateTheUser}" method="POST">
            <h1>Sign in</h1>
            <span>or use your account</span>
            <input type="text" name="email" placeholder="Email" required=""/><br/>
            <input type="password" name="password" placeholder="Password" required=""/><br/>
            <button>Sign In</button>
            <button class="ghost" id="signUp">
                <a href="./forgotpass.html">Forgot password ?</a>
            </button>
        </form>
        
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">
                    <a href="/register.html">Sign Up</a>
                </button>
            </div>
        </div>
    </div>
</div>


</body>
</html>
